@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 240 6% 10%;
    --foreground: 60 0% 90%;

    --muted: 240 6% 10%;
    --muted-foreground: 240 5% 84%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
  ::selection {
    @apply text-black;
    @apply bg-cyan-400;
  }
  *:focus-visible {
    @apply outline;
    @apply outline-2;
    @apply outline-offset-2;
    @apply outline-pink-500;
  }
  * {
    @apply border-border;
    @apply min-w-0;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full;
  }
  h1 {
    @apply font-alt;
    @apply font-bold;
    @apply text-4xl;
    @apply text-white;
    @apply lg:text-6xl;
    @apply bg-clip-text;
    @apply drop-shadow-[0_0_15px_rgba(0,0,0,1)];
    @apply lg:text-transparent;
    @apply lg:bg-gradient-to-br;
    @apply from-white;
    @apply to-neutral-400;
  }
}
